<table>
  <tr><th>Name</th><th>Full Name</th><th>Description</th></tr>
  {{#each programs}}
  <tr>
      <td>{{name}}</td>
      <td>{{fullName}}</td>
      <td>{{description}}</td>
  </tr>
  {{/each}}
</table>
